#header {
    background-color: #364652;
    color: #FFF;
}

.active {
    background-color: #CDD7D6;
    color: #777;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 8px;
  width: auto;
}