#header {
    background-color: #364652;
    color: #FFF;
}

#about {
    margin-top: -1.5em;
    padding-top: 1.5em;
}
#resume {
    margin-top: -1.5em;
    padding-top: 1.5em;   
}
.active {
    background-color: #CDD7D6;
    color: #777;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

