/* About Section */
.pad {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 4em;
    margin-bottom: 1em;
}
#name {
    padding-top: 1em;
    font-size: 5.75rem;
    font-weight: 800;
    line-height: 2em;
}
#description {  
    font-size: 2rem;
}
#lite {
    font-weight: 100;
}


/* Resume */
.resume-command {
    font-weight: bold;
}
#resume {
}
#resume-section {
    opacity: 0.9;
    font-family: Monaco;
    font-size: 1.25rem;
}
pre {
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* Since CSS 2.1 */
    word-break: normal;
    word-wrap: normal;       /* Internet Explorer 5.5+ */
    
}
/* Portfolio */
#portfolio {

}


/* Footer */
#footer {
    

}

.separator {
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid #CDD7D6;
    content: '';
}